{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "no-console": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}